<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plano municipal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/style.css">
    <body>
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Impresoras lista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planos">Plano Municipal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internostel">Teléfono Internos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/domainip">Dominio ip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comprobante">Comprobantes</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
    <div class="grid text-center">
        <div class="row">
            <div class="col">
                <figure class="figure zoom">
                    <img src="/resources/image/Recurso1.png" class="imagen figure-img img-fluid rounded" alt="Imagen" onclick="abrirLightbox('/resources/image/Recurso1.png')">
                    <figcaption class="figure-caption">Plano Municipal.</figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure zoom">
                    <img src="/resources/image/Recurso2.png" class="imagen img-fluid img-thumbnail" alt="Imagen" onclick="abrirLightbox('/resources/image/Recurso2.png')">
                    <figcaption class="figure-caption">Plano municipal de Redes.</figcaption>
                </figure>
            </div>
            <div class="col">
                <figure class="figure zoom">
                    <img src="/resources/image/Recurso3.png" class="imagen img-fluid img-thumbnail" alt="Imagen" onclick="abrirLightbox('/resources/image/Recurso3.png')">
                    <figcaption class="figure-caption">Plano Municipal de Impresoras.</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <!-- Lightbox -->
    <div class="lightbox" id="lightbox">
        <div class="lightbox-content">
            <span class="close-button" onclick="cerrarLightbox()">&times;</span> <!-- Botón de cierre -->
            <img class="lightbox-image" src="" alt="Imagen" id="lightbox-img">
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/resources/js/planos.js"></script>
    </body>
</html>
